/* PALETTE */
:root {
    --green: #558B6E;
    --dark-blue: #233D4D;
    --orange: #FE7F2D;
    --cream: #F2E9DC;
    --light: #E8F1F2;
    --warning-red: #C51E3A;
    --bg-color: var(--cream);
}

/* ELEMENTS */

html {
    background-color: var(--bg-color);
}

.container {
    max-width: 820px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: var(--green);
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

header a, a:hover {
    color: transparent;
    background-color: transparent;
}

.header-title {
    color: var(--orange);
    display: inline;
    padding-left: 1.5em;
    margin-bottom: 0;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4em;
    width: 18em;
}

header .button, .button-container-form input {
    width: 12em;
    margin-bottom: 0;
}

.button {
    margin-right: 1em;
}

.button.button-primary, input[type="submit"].button-primary {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    border-radius: 100px;
}

#profile_dropdown:hover #show_dropdown {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    width:200px;
}

.inline {
    display: inline-block;
}

#profile_dropdown .inline p {
    line-height: 20px;
    margin: 0;
}

#show_dropdown {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    position: absolute;
    z-index: 5;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out, visibility 0.3s;
    overflow: hidden;
}

#profile_dropdown {
    width: 200px;
}

#show_dropdown ul li {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

#delete-button {
    background-color: var(--warning-red);
    border: var(--warning-red);
    color: var(--cream);
}
.hero-block {
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
}
.hero-block h3 {
    margin-bottom: 0;
}

.hero-block article {
    max-width: 20em;
}

.hero-img {
    height: 20em;
    width: auto;
}

.wishlist-form, form {
    margin-bottom: 0;
}

.wishlist-form input, label {
    width: 30em;
}

.wishlist-container {
    max-width: 1300px
}

.wishlist-panel {
    margin-left: 1.8rem;
}

.wishlist {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

#empty-list-warning {
    margin-left: 1.8rem;
}

.wishlist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    width: 15.5em;
    height: 15em;
    margin: 1.5em;
    padding: 1.5em;
    border-radius: 40px;
    box-shadow: 3px 7px var(--dark-blue);
}

#wishlist-card-text-container {
    width: 90%;
    height: 60%;
    max-height: 60%;
    overflow-y: clip;   /* scroll if text is taller than 9em */
    overflow-x: hidden; /* prevent horizontal scrollbars */

    word-break: break-word;
    overflow-wrap: anywhere;
    hyphens: auto;
}

#wishlist-card-text-container p {
    font-size: 1.2em;
}

#reserve-form {
    width: fit-content;
}

.form-error-container {
    box-sizing: border-box;
    width: 30em;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 1.5rem;
    background-color: var(--warning-red);
    color: var(--cream);
}

.button-container-form {
    display: inline;
}
.wishlist-card .button, .wishlist-card button{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--cream);
    border-radius: 15px;
    width: 14em;
}

footer {
    background-color: var(--dark-blue);
    height: 2em;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    color: var(--cream);
    margin: 0;
}

.footer-item a {
    color: var(--cream);
}