<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header th:fragment="header(view)" class="u-full-width">
    <a th:href="${view == 'loggedIn'} ? '/wishlist' : '/'"><h1 class="header-title"><strong>WISHLIST</strong></h1></a>
    <div class="header-buttons">
        <a class="button button-primary" th:if="${view == 'notLoggedIn'}" href="/user/register">Register</a>
        <a class="button button-primary" th:if="${view == 'notLoggedIn'}" href="/user/login">Login</a>
        <a class="button button-primary" th:if="${view == 'loggedIn'}" href="/user/profile">Profile</a>
        <a class="button button-primary" th:if="${view == 'loggedIn'}" href="/user/login">Log Out</a>
    </div>
</header>

<footer th:fragment="footer">

</footer>

</body>
</html>