    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{title.error.404}"></title>
        <link rel="stylesheet" th:href="@{/style/normalize.css}">
        <link rel="stylesheet" th:href="@{/style/skeleton.css}">
        <link rel="stylesheet" th:href="@{/style/custom.css}">
    </head>
    <body>
    <div class="container error-404">
        <h1 th:text="${status} + ' ' + ${message}"></h1>
        <h2 th:text="${error}"></h2>
    </div>
    </body>
    </html>