<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.error.404}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>
<body>
<div class="container error-404">
    <h1>404 – Not Found</h1>
    <p th:text="${message}">The requested resource could not be found.</p>
</div>
</body>
</html>