<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.frontpage}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container">
    <div class="twelve columns" id="hero-text">

        <div class="hero-block">
            <article>
                <h3 th:text="#{hero.block1.h}"></h3>
                <p th:text="#{hero.block1.p}"></p>
            </article>
            <img class="hero-img" src="/images/gifts.png" alt="Illustration of wrapped gifts">
        </div>

        <div class="hero-block">
            <article>
                <h3 th:text="#{hero.block2.h}"></h3>
                <p th:text="#{hero.block2.p}"></p>
            </article>
            <img class="hero-img" src="/images/friends.png" alt="Illustration of friends fist bumping">
        </div>

        <div class="hero-block">
            <article>
                <h3 th:text="#{hero.block3.h}"></h3>
                <p th:text="#{hero.block3.p}"></p>
                <a class="button button-primary" href="/user/register" th:text="#{hero.button.text}"></a>
            </article>
            <img class="hero-img" src="/images/reserve.png" alt="Illustration of woman with a large checklist">
        </div>
    </div>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>