<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>
<body>
    <header th:replace="~{fragments/_commonElements :: header}"></header>
    <div class="container">

    </div>
    <footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>