<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<header th:replace="~{fragments/_commonElements :: header('notLoggedIn')}"></header>
<main class="container wishlist-form">

    <form th:object="${userLogin}" th:action="@{/user/login}" method="post">
        <div>
            <h2>Log In</h2>
        </div>

        <!-- INPUTS -->
        <div class="row">
            <label for="email">Email:</label>
            <input id="email" type="email" th:field="*{mail}" placeholder="email">
        </div>

        <div class="row">
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" placeholder="password" minlength="4">
        </div>

        <!-- BUTTONS -->
        <div class="row">
            <a class="button" href="/">Back</a>
            <button type="submit">Submit</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>