<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.profile}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
    <script th:src="@{/js/deleteWarning.js}" async></script>
</head>
<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container wishlist-form">

    <form th:action="@{/user/profile/update}" th:object="${user}" method="post">
        <div>
            <h2 th:text="${viewMode == 'view'} ? #{profile.header.view} : #{profile.header.edit}"></h2>
        </div>

        <!-- Error messages -->
        <div th:if="${error}" class="form-error-container">
            <label th:if="${invalidField == 'mail'}" th:text="#{form.error.duplicateMail}"></label>
            <label th:if="${invalidField == 'names'}" th:text="#{form.error.blankName}"></label>
        </div>

        <!-- INPUTS -->
        <input hidden="hidden" th:field="*{password}">

        <div class="row">
            <label for="mail" th:text="#{form.user.label.mail}"></label>
            <input type="email" id="mail" th:field="*{mail}" readonly pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <div class="row">
            <label for="firstName" th:text="#{form.user.label.firstName}"></label>
            <input type="text" id="firstName" th:field="*{firstName}" th:readonly="${viewMode == 'view'}" pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <div class="row">
            <label for="lastName" th:text="#{form.user.label.lastName}"></label>
            <input type="text" id="lastName" th:field="*{lastName}" th:readonly="${viewMode == 'view'}" pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <!-- BUTTONS -->
        <div class="row">
            <a class="button" th:href="${viewMode == 'view'} ? '/wishlist/view' : '/user/profile'" th:text="#{form.button.back}"></a>
            <button th:if="${viewMode == 'edit'}" type="submit" th:text="#{form.button.save}"></button>
            <a class="button" th:if="${viewMode == 'view'}" th:href="@{/user/profile(viewMode='edit')}" th:text="#{form.button.edit}"></a>
        </div>
    </form>

    <!-- DELETE BUTTON -->
    <form th:if="${viewMode == 'edit'}" onsubmit="return confirm(deleteWarning);" th:action="@{/user/profile/delete}" method="post" th:object="${user}">
        <button id="delete-button" type="submit" th:text="#{form.button.delete.user}"></button>
    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>