<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<header th:replace="~{fragments/_commonElements :: header('notLoggedIn')}"></header>
<main class="container wishlist-form">

    <form action="#" th:object="${newUser}" th:action="@{/user/register}" method="post">
        <div>
            <h2>Register</h2>
        </div>

        <!-- INPUTS -->
        <div class="row">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" th:field="*{mail}" placeholder="Email" required>
        </div>

        <div class="row">
            <label for="first-name" class="form-label">First Name</label>
            <input id="first-name" type="text" th:field="*{firstName}" placeholder="First Name" maxlength="50" required pattern="\S(.*\S)?" title="This field cannot be empty">
        </div>

        <div class="row">
            <label for="last-name" class="form-label">Last Name</label>
            <input id="last-name" type="text" th:field="*{lastName}" placeholder="Last Name" maxlength="50" required pattern="\S(.*\S)?" title="This field cannot be empty">
        </div>

        <div class="row">
            <label for="password" class="form-label">Password (8 character minimum)</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Password" required minlength="8" maxlength="20">
        </div>

        <!-- BUTTONS -->
        <div class="row">
            <a class="button" href="/">Back</a>
            <button type="submit">Submit</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>