<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.register}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container wishlist-form">

    <form action="#" th:object="${newUser}" th:action="@{/user/register}" method="post">
        <div>
            <h2 th:text="#{register.header}"></h2>
        </div>

        <!-- INPUTS -->
        <div class="row">
            <label for="email" class="form-label" th:text="#{form.user.label.mail}"></label>
            <input id="email" type="email" th:field="*{mail}" required th:placeholder="#{form.user.label.mail}" pattern=".*\S.*" th:title="#{form.warning.empty}">
        </div>

        <div class="row">
            <label for="first-name" class="form-label" th:text="#{form.user.label.firstName}"></label>
            <input id="first-name" type="text" th:field="*{firstName}" th:placeholder="#{form.user.label.firstName}" maxlength="50" required pattern="\S(.*\S)?" th:title="#{form.warning.empty}">
        </div>

        <div class="row">
            <label for="last-name" class="form-label" th:text="#{form.user.label.lastName}"></label>
            <input id="last-name" type="text" th:field="*{lastName}" th:placeholder="#{form.user.label.lastName}" maxlength="50" required pattern="\S(.*\S)?" th:title="#{form.warning.empty}">
        </div>

        <div class="row">
            <label for="password" class="form-label" th:text="#{form.user.label.password.withMinimum}"></label>
            <input id="password" type="password" th:field="*{password}" th:placeholder="#{form.user.label.password}" required minlength="8" maxlength="20" th:title="#{form.warning.empty}">
        </div>

        <!-- BUTTONS -->
        <div class="row">
            <a class="button" href="/" th:text="#{form.button.back}"></a>
            <button type="submit" th:text="#{form.button.submit}"></button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>