<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.wish.new}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>
<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container wishlist-form">

    <form th:action="@{/wishlist/add}" th:object="${wish}" method="post">

        <div>
            <h2 th:text="#{newWish.header}"></h2>
        </div>

        <!-- Error messages -->
        <div th:if="${error}" class="form-error-container">
            <label th:text="#{form.error.fields.blank}"></label>
        </div>

        <!-- INPUTS -->
        <div class="row">
            <label for="name" th:text="#{form.wish.label.description}"></label>
            <input type="text" id="name" th:field="*{name}" maxlength="70" required pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <div class="row">
            <label for="link" th:text="#{form.wish.label.link}"></label>
            <input type="text" id="link" th:field="*{link}" required pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <!-- BUTTONS -->
        <div class="row">
            <a class="button" href="/wishlist/view" th:text="#{form.button.back}"></a>
            <button type="submit" th:text="#{form.button.addWish}"></button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>