<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>
<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container wishlist-form">

    <form th:action="@{/wishlist/add}" th:object="${wish}" method="post">

        <div>
            <h2>Add Wish</h2>
        </div>

        <!-- Error messages -->
        <div th:if="${error}" class="form-error-container">
            <label>Fields cannot be blank</label>
        </div>

        <!-- INPUTS -->
        <div class="row">
            <label for="name">Description:</label>
            <input type="text" id="name" th:field="*{name}" maxlength="70" required pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <div class="row">
            <label for="link">Link:</label>
            <input type="text" id="link" th:field="*{link}" required pattern=".*\S.*" th:title="#{form.warning.empty}"/>
        </div>

        <!-- BUTTONS -->

        <div class="row">
            <a class="button" href="/wishlist/view">Back</a>
            <button type="submit">Add wish</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>