<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${session.user.id != ownerId}" th:text="${ownerName} + #{title.wishlist.other}"></title>
    <title th:if="${session.user.id == ownerId}" th:text="#{title.wishlist.owner}"></title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
    <script th:src="@{/js/copyUrl.js}" async></script>
</head>

<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>
<main class="container wishlist-container">

    <div class="wishlist-panel">
        <!-- Headers -->
        <h2 th:if="${session.user.id != ownerId}" th:text="${ownerName} + #{title.wishlist.other}"></h2>
        <h2 th:if="${session.user.id == ownerId}" th:text="#{title.wishlist.owner}"></h2>
        <a th:if="${session.user.id == ownerId}" class="button button-primary" th:href="@{/wishlist/add}" th:text="#{form.button.addWish}"></a>

        <!-- share button shown only to owner -->
        <button class="button button-primary" th:if="${session.user.id == ownerId}" onclick="copyUrl()" th:text="#{wishlist.header.share}"></button>
    </div>

    <div class="wishlist">

        <h3 id="empty-list-warning" th:if="${wishes.isEmpty()}" th:text="#{wishlist.header.empty}"></h3>

        <div class="wishlist-card" th:each="wish : ${wishes}">

            <div id="wishlist-card-text-container">
                <p th:text="${wish.name}"></p>
            </div>

            <!-- BUTTONS -->
            <a class="button" th:href="${wish.link}" target="_blank" th:text="#{wishcard.button.visitSite}"></a>

            <!--Edit button shown only for owner -->
            <a th:if="${session.user.id == ownerId}" class="button" th:href="@{/wishlist/edit/{id}(id=${wish.id})}" th:text="#{wishcard.button.edit}"></a>

            <!-- reservation options only shown if current user does not own wishlist -->
            <div id="reserve-form" th:if="${session.user.id != ownerId}">

                <!--reserve button shown if wish is not reserved -->
                <form th:class="button-container-form" th:if="${!reservedWishes.contains(wish.id)}" class="button-container-form" th:action="@{/wishlist/{ownerId}/toggleReserve/{wishId}(ownerId=${ownerId}, wishId=${wish.id})}" method="post">
                    <button type="submit" th:text="#{wishcard.button.reserve}"></button>
                </form>

                <!--unreserve button shown if wish is reserved AND owner of reservation is logged in-->
                <form th:class="button-container-form" th:if="${reservedWishes.contains(wish.id) && reservationsByUser.contains(wish.id)}" class="button-container-form" th:action="@{/wishlist/{ownerId}/toggleReserve/{wishId}(ownerId=${ownerId}, wishId=${wish.id})}" method="post">
                    <button type="submit" th:text="#{wishcard.button.unreserve}"></button>
                </form>

                <!--reserved label shown if wish is reserved by another user -->
                <div th:if="${reservedWishes.contains(wish.id) && !reservationsByUser.contains(wish.id)}" class="button" th:text="#{wishcard.button.reserved}"></div>
            </div>
        </div>
        <!--Text to be copied to clipboard -->
        <input th:value="'http://localhost:8080/wishlist/view/' + ${listRef}" type="text" id="listLink" hidden="hidden">
    </div>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>